<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<form action="register" method="post">
		<h1>Enter Your Details</h1>
		<label>Name : </label><br>
		<input type="text" name="name">
		<br><br>
		<label>Email : </label><br>
		<input type="email" name="emailId">
		<br><br>
		<label>Password : </label><br>
		<input type="password" name="password">
		<br><br>
		<label>Gender : </label><br>
		<input type="radio" name="gender" value="Male">M
		<input type="radio" name="gender" value="Female">F
		<input type="radio" name="gender" value="Other">O
		<br><br>
		<label>Phone Number : </label><br>
		<input type="text" name="phoneNo">
		<br><br>
		<label>Address : </label><br>
		<textarea rows="5" cols="25" name="address"></textarea>
		<br><br>
		<input type="submit" value="register">
	</form>
	
</body>
</html>