<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="addmoviesuccess.css">
<br><br>

   <br><br>
</head>
<body>
<div class="container">
    <h2>Movie is added successfully. Wants to add another movie?</h2>
    
    <form action="map-addmovie">
        <input type="submit" value="Add Movie"/>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('body').style.height = window.innerHeight + 'px';
    });
</script>
</body>
</html>