<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="home.css">
<br><br>

  <br><br>
</head>
<body>

<div class="container">
    <h2>Welcome to MovieFlix</h2>

    <a href="exploremovie">
        <input type="submit" value="Explore Movies"/>
    </a>
    <br/><br/>

    <a href="logout">
        <input type="submit" value="Log Out"/>
    </a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('body').style.height = window.innerHeight + 'px';
    });
</script>
</body>
</html>