<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="login.css">
<br><br>

<br><br>
</head>
<body>
<div class="container">
<h2>Login:</h2>
    <form action="login" method="post">
        <label>Email:</label>
        <input type="email" name="email">
        <br/><br/>
        <label>Password:</label>
        <input type="password" name="password">
        <br/><br/>
        <input type="submit" value="LOGIN"/>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('body').style.height = window.innerHeight + 'px';
    });
</script>

</body>
</html>