<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="regfail.css">
<br><br>

<br><br>
</head>
<body>
<div class="container">
    <h2>Registration is failed. Try again.</h2>
    <form action="map-register">
        <input type="submit" value="Register">
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('body').style.height = window.innerHeight + 'px';
    });
</script>

</body>
</html>