<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="registersuccess.css">
<br><br>

<br><br>
</head>
<body>

<div class="container">
    <h2>Registration is successful.</h2>
    <br/><br/>
    <form action="map-register">
        <input type="submit" value="Register">
    </form>
    <br/><br/>
    <form action="map-login">
        <input type="submit" value="Login">
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('body').style.height = window.innerHeight + 'px';
    });
</script>
</body>
</html>