<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="viewuser.css">
<br><br>

<br><br>

</head>
<body>
	
	<br><br>
	<table border="1">
	<h2>All User</h2>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Gender</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${user}">
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.phone}"></td>
				<td th:text="${user.gender}"></td>
				<td th:text="${user.address}"></td>
			</tr>
		</tbody>
	</table>
 <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelector('body').style.height = window.innerHeight + 'px';
        });
    </script>
</body>
</html>